# Build artifacts
*.o
*.dSYM/

# Executables
aarch64/sieve/primes
aarch64/neon_uppercase/neon_demo
aarch64/pure_asm/hello
aarch64/fractal/cocoa_viewer

# Windows leftovers
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.suo
*.user
*.sln
*.vcxproj*
.vs/
