# Build artifacts
*.o
*.dSYM/

# Executables
sieve/primes
neon_uppercase/neon_demo
pure_asm/hello

# Windows leftovers
*.obj
*.exe
*.pdb
*.ilk
*.exp
*.lib
*.suo
*.user
*.sln
*.vcxproj*
.vs/
